@import "./node_modules/bootstrap/scss/bootstrap.scss";
@import "./node_modules/bootstrap/scss/functions";
@import "./node_modules/bootstrap/scss/variables";
@import "./node_modules/bootstrap/scss/mixins";

/************* COLORS *****************/

$font: rgb(0, 0, 0);
$rev_font: rgb(255, 255, 255);
$font-parag: rgb(167,168,173);
$plain: rgb(255, 255, 255);;
$primary: rgb(83, 102, 223);
$secondary: rgb(240,87,90);
$tertiary: rgb(36,42,69);
$body-color: $plain;

html {
    max-width: 1200px;
    overflow-x: hidden;
}

/************* CONTAINERS *****************/

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    row-gap: 10px;
    padding-top:  40px;
}

.navbar {
    margin-right: 15%;
    justify-content: flex-end;
    justify-content: space-between;
}

.content-container {
    flex: 1;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border: 3px solid rgb(18, 22, 255);
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
    padding: 10px;
    margin-left: -10px;
}

.nav-logo {
    display: inline-block;
}

@mixin button ($back: $primary, $color: $plain) {
    background-color: $plain;
    font-size: 12px;
    color: $color;
    border-color: $back;
    border: 2px solid $back;
    border-radius:7px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    letter-spacing: 0.2em;
    align-items: end;
}

/************* BUTTONS *****************/

.button {
    @include button();
}
.button:hover {
    color: $secondary;
}

.login-button {
    @include button();
    background-color: $secondary;
    border: 2px solid $secondary;
    color: $rev_font;
}
.login-button:hover {
    color: $secondary;
    border-color: $secondary;
    background-color: $plain;
}

.detail-button {
    @include button();
    background-color: $primary;
    color: $rev_font;
    padding-left: 20px;
    padding-right: 20px;
    letter-spacing: 0em;
}
.detail-button:hover {
    color: $primary;
    border-color: $primary;
    background-color: $plain;
}

.detail-shadow-button {
    @include button();
    border: 1px solid $plain;
    background-color: $plain;
    box-shadow: 1px 5px 3px rgba(0, 0, 0, 0.1);
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 10px;
    letter-spacing: 0em;
}
.detail-shadow-button:hover {
    color: $font;
    border: 1px solid $font;
    border-color: $font;
    background-color: $plain;
}

.submit-button {
    @include button();
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: $secondary;
    border: 2px solid $secondary;
    color: $rev_font;
    max-height: 40px;
    max-width: 160px;
    letter-spacing: 0.1em;
    max-lines: 1;
}
.submit-button:hover {
    color: $secondary;
    border-color: $secondary;
    background-color: $plain;
}

/************* TEXT *****************/

.title {
    font-size: 44px;
    font-weight: 600;
    line-height: 1;
}

.subtitle {
    font-weight: 600;
}

.paragraph {
    line-height: 1.5;
    color: $font-parag;
    margin-top: 15px;
    margin-bottom: 20px;
}

.imageRight {
    display: flex;
    position: relative;
    display: inline-block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.imageLeft {
    display: flex;
    position: relative;
    object-fit: contain;
    display: inline-block;
    max-width: 90%;
    height: auto;
    object-fit: cover;
}

/*************** floating figures **************/

.imageRight::before {
    content: '';
    position: absolute;
    bottom: -22px;
    left: 25%;
    z-index: -1;
    background-color: $primary;
    border-radius: 0 0 0 170px;
    width: 90%;
    height: 77%;
}

.imageLeft::before {
    content: '';
    position: absolute;
    bottom: -70px;
    right: 14%;
    z-index: -1;
    background-color: $primary;
    border-radius: 0 170px 170px 0;
    width: 125%;
    height: 100%;
}

/*************** Features menu **************/

.nav-link {
    border-color: $plain !important;
    color: $font-parag;
    text-align: center;
}
.nav-link:hover {
    border-color: $plain !important;
    color: $secondary;
}

.nav-tabs {
    border-bottom: none;
    box-shadow: none;
}

.nav-tabs .nav-link.active {
    border-bottom: 3px solid $secondary !important;
}

.card-button:hover {
    background-color: rgb(255, 255, 255);
    color: $primary;
    border: 2px solid $primary;
}

/************* CARDS *****************/

.card {
    box-shadow: 2px 5px 3px rgba(0, 0, 0, 0.1);
}

.card-row {
    display: flex;
    gap: 1rem;
}

.first-card {
    margin-top: 10px;
    margin-bottom: 90px;
}

.second-card {
    margin-top: 40px;
    margin-bottom: 60px;
}

.third-card {
    margin-top: 70px;
    margin-bottom: 30px;
}

.bg-dots-container {
    width: 100%;
    text-align: center;
}

.bg-dots-image {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.card-image {
    width: 40%;
    height: auto;
    margin-left: 70px;
    margin-top: 60px;
}

/*************** ACCORDION MENU **************/

.custom-accordion .accordion-button {
    background-color: #ffffff;
    border-color: rgba(153, 39, 39, 0.125);
    color: $font;
}

.custom-accordion .accordion-button:not(.collapsed) {
    background-color: #ffffff;
    color: $font;
}

.custom-accordion .accordion-button.collapsed {
    align-items: center;
}

.custom-accordion .accordion-button.collapsed:hover {
    color: $secondary;
}
.custom-accordion .accordion-button:not(.collapsed):hover {
    color: $secondary;
}

.accordion-button::after {
    color: $secondary;
}

.accordion-button.collapsed::after {
    color: $secondary !important;
}

/*************** FOOTER MENU **************/

.bg-footer {
    background-color: $primary;
    color: $plain;
}

.bg-footer2 {
    background-color: $tertiary;
    color: $plain;
    }

.footer-nav {
    @include button();
    background-color: $tertiary;
    justify-content: space-between;
    color: $rev_font;
}

.footer-subtitle {
    letter-spacing: 0.2em;
    font-size: 12px;
    font-weight: 300;
    line-height: 1;
}

.valid-error {
    color: $plain;
    background-color: $secondary;
}

.footer-button {
    @include button();
    background-color: $tertiary;
    color: $rev_font;
    border: none;
}

.footer-button:hover {
    color: $secondary;
}

.social-icon:hover {
    filter: color.invert(70%) sepia(70%) saturate(1000%) hue-rotate(-50deg) brightness(100%);
}

.icon-bookmark:hover {
    filter: color.invert(69%) sepia(70%) saturate(1000%) hue-rotate(-50deg) brightness(100%);
}
