@import "./node_modules/bootstrap/scss/bootstrap.scss";

$font: black;
$plain: white;
$primary: rgb(83, 102, 223);
$secondary: rgb(240,87,90);

html {
    max-width: 1550px;
}

.container {
    margin: 10px;
    border: 10px solid green;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin: 10px;
    border: 3px solid green;
}

.navigation {
    display: flex;
    flex-direction: row;
}

.content-container {
    display: flex;
    flex-direction: row;
}

.content {
    margin: 10px;
    border: 30px solid green;
}

.nav-logo {
    border: 10px solid $plain;
    display: inline-block;
}

@mixin button ($back: color, $color: background-color) {
    background-color: $back;
    color: color;
    border-color: black;
    border: 2px solid $plain;
    border-radius:7px;
    padding: 10px;
    padding-left: 35px;
    padding-right: 35px;
    margin-left: 10px;
    align-items: end;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.button {
    @include button();
}

.login-button {
    @include button($back: $secondary);
    border: 2px solid $secondary;
    color: $plain;
}

.detail-button {
    @include button($back: $primary);
}

.title {
    font-size: 44px;
    font-weight: 600;
}


/*************** floating figure **************/
.image {
    content: '';
    position: absolute;
    z-index: -1;
    background-color: $primary;
    border-radius: 0 0 0 38%;
    top: 40%;
    left: 50%;
    width: 30%;
    height: 35%;
}