@import "./node_modules/bootstrap/scss/bootstrap.scss";

$font: black;
$plain: white;
$primary: rgb(83, 102, 223);
$secondary: rgb(240,87,90);

html {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 10px;
    border: 3px solid rgb(255, 60, 30);
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin: 10px;
    max-width: 100%;
    border: 3px solid green;
}

.navigation {
    display: flex;
    gap: 15px;
    justify-content: flex-end;
    align-items: center;
    // flex-direction: row;
}

.content-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

.content {
    margin: 10px;
    border: 30px solid green;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // gap: 15px;
    // margin-top: 20px;
}

.nav-logo {
    display: inline-block;
}

@mixin button ($back: color, $color: background-color) {
    background-color: $back;
    color: color;
    border-color: black;
    border: 2px solid $plain;
    border-radius:7px;
    padding: 10px;
    padding-left: 35px;
    padding-right: 35px;
    margin-left: 10px;
    align-items: end;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.button {
    @include button();
}

.login-button {
    @include button($back: $secondary);
    border: 2px solid $secondary;
    color: $plain;
}

.detail-button {
    @include button($back: $primary);
}

.title {
    font-size: 44px;
    font-weight: 600;
}


/*************** floating figure **************/
.blue-righ-image {
    content: '';
    position: absolute;
    // top: 20%;
    // right: 0;
    z-index: -1;
    background-color: $primary;
    border-radius: 0 0 0 38%;
    // left: 50%;
    width: 30%;
    height: 35%;
}